@charset "utf-8";

@import url("main.css");
/* @import url("font.css"); */

/* 희승 영역 */
/* 메인 배너 */
.banner {
  max-height: 700px;
  width: 100%;
}

.banner .container {
  height: 100%;
}
.banner .swiper {
  width: 100%;
  height: 100%;
  /* position: relative;
  left: 0; */
}

.banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .bannerSwiper {
  display: flex;
}

.banner .bannerSwiper-1200,
.banner .bannerSwiper-790,
.banner .bannerSwiper-450 {
  display: none;
}

.banner .swiper-slide a {
  width: 100%;
  height: 100%;
  display: block;
}

.banner .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .swiper-pagination {
  padding: 10px;
}
.banner .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #ff9364;
  opacity: 0.3;
  margin: 0 100px;
}
.banner .swiper-pagination-bullet-active {
  opacity: 1;
}

/* 중간배너 */
.banner-m {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  background-color: #fcefa9;
}

.banner-m a {
  width: 100%;
  height: 100%;
  display: block;
}

.banner-m img {
  width: 100%;
}

.banner-m img:nth-child(1) {
  display: block;
  width: 100%;
}
.banner-m img:nth-child(2) {
  display: none;
  width: 100%;
}
.banner-m img:nth-child(3) {
  display: none;
  width: 100%;
}

/* ================================================================== */
/* 랭킹 */
.ranking {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-bottom: 150px; */
}

.ranking > .container > .inner {
  display: flex;
}

.ranking-wrap {
  position: relative;
  width: 50%;
  height: 100%;
  margin-right: 50px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.ranking-banner {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #ffecdd;
}

.ranking-banner > img {
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.ranking-title {
  width: 100%;
  height: auto;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
}

.ranking-title h2 {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 3% 0;
  border-radius: 5px 5px 0 0;
  background-color: #fe6b38;
}

.ranking-topRank {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 3% 0;
}

.ranking-topRank > ul {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

.ranking-topRank > ul > li {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-topRank > ul > li.ranking-rank-login {
  display: none;
  /* display: flex; */
}

.ranking-topRank > ul > li.ranking-rank-notlogin {
  /* display: none; */
  display: flex;
}

.ranking-topRank > ul > li:nth-child(2) {
  width: 60%;
}

.ranking-topRank > ul > li:nth-child(3) {
  width: 60%;
}

.ranking-topRank > ul > li:nth-child(2) > .ranking-number {
  /* font-size: 3.5rem; */
  margin-bottom: 10px;
  color: #fdc900 !important;
}

.ranking-topRank > ul > li:nth-child(3) > .ranking-number {
  /* font-size: 3.5rem; */
  margin-bottom: 20px;
  color: #fdc900 !important;
}

.ranking-topRank > ul > li:nth-child(4) > .ranking-number {
  color: #b18966 !important;
}

.ranking-topRank .ranking-img {
  width: 40%;
  text-align: center;
}

.ranking-topRank .ranking-img:nth-child(2) {
  position: relative;
}

/* .ranking-topRank .ranking-crown-img {
  width: 50%;
  height: auto;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.ranking-topRank img {
  width: 100%;
  height: 100%;
}

.ranking-topRank > ul > li > .ranking-number {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.ranking-topRank > ul > li > .ranking-number:nth-child(1) {
  color: #89919c;
}

.ranking-topRank > ul > li > .ranking-name,
.ranking-collect {
  font-size: 1.6rem;
}

.ranking-topRank .ranking-name,
.ranking-topRank .ranking-collect {
  margin-top: 10px;
}

.ranking .ranking-table {
  position: relative;
  width: 100%;
  height: 100%;
}

.ranking .ranking-table > ul {
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* 스크롤바 숨기기 */
  scrollbar-width: none;
}

.ranking .ranking-table > ul > li {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
  padding: 10px 0 10px 10px;
}

.ranking .ranking-table > ul > li > * {
  margin-right: 8px;
}

.ranking .ranking-table > ul > li:nth-child(1) {
  border-top: 1px solid #333;
}

.ranking .ranking-table > ul > li > .ranking-img {
  width: 7%;
}
.ranking .ranking-table > ul > li > .ranking-img > img {
  width: 100%;
}

.ranking .ranking-table .ranking-table-txt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.ranking .ranking-number {
  font-size: 1.5rem;
  font-weight: 600;
}

.ranking-table-txt > .ranking-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.ranking-table-txt > .ranking-collect {
  font-size: 1.5rem;
  font-weight: 600;
}

.ranking .ranking-me {
  /* display: flex; */
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 10px;
  background-color: #fe6b38;
  /* background-color: #ffecdd; */
  display: none;
}

.ranking .ranking-me .ranking-name {
  font-size: 1.5rem;
  color: #191919;
  font-weight: 600;
}

.ranking-me > * {
  margin-right: 8px;
}

/* .ranking .ranking-me .ranking-me-notlogin{
  width: ;
  background-color: ;
} */

.ranking-me .ranking-table-txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ranking-me .ranking-img {
  width: 7%;
  height: 100%;
  margin-left: 3px;
}

.ranking-me .ranking-img > img {
  width: 100%;
  height: 100%;
}

.ranking-me.ranking-me-notlogin {
  /* display: none; */
  display: flex;
}

.ranking-banner {
  width: 50%;
  height: 100%;
  margin-top: 150px;
  padding: 15px;
  border-radius: 5px;
  /* background-color: #5e5e5e; */
  background-color: #ffecdd;
  color: #191919;
}

.ranking-banner > ul {
  width: 100%;
  height: 100%;
}

.ranking-banner > ul > li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 16.5px 15px;
  /* background-color: #d9d9d9; */
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 0;
}

.ranking-banner .ranking-banner-img {
  width: 40%;
  /* width: 110px; */
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  padding: 15px 25px;
}

.ranking-banner .ranking-banner-img > img {
  width: 100%;
  /* width: 60%; */
}

.ranking-banner-txt {
  width: 100%;
  height: 100%;
}

.ranking-banner-txt > .ranking-banner-title {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 20px;
}

.ranking-banner-txt > .ranking-banner-description {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ranking-banner-title > .ranking-banner-description > p {
  color: #d9d9d9;
}

.ranking-warning {
  display: flex;
  justify-content: end;
  font-weight: 300;
  font-size: 1.4rem;
  /* color: #fff; */
  color: #191919;
  opacity: 80%;
}

/* ================================================================== */
/* 장날 안내 */
.market-day {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: #fff9f4;*/
}

.market-day .container {
  width: 100%;
  height: 100%;
  /* padding: 0 0 400px; */
}

.market-day .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.market-day .title-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-day .title {
  font-weight: 700;
  /* margin-top: 0; */
}

.market-day-btn {
  /* margin: 10px 0 0 0 !important; */
  margin-top: 150px;
}

/* 전체 버튼 */
.btn-select {
  display: flex;
  margin-top: 170px;
  gap: 20px;
  /* padding-top: 30px; */
}

.btn-select button {
  width: 115px;
  height: 35px;
  /* padding: 5px 10px; */
  border: 1px solid #bababa;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #bababa;
  background-color: #fff;
  cursor: pointer;
}

.btn-select .on {
  background-color: #fe6b38;
  color: #fff;
  border: 1px solid #fe6b38;
  transition: all 0.2s ease-in-out;
}

.btn-select .more {
  cursor: pointer;
}

.market-day-content {
  /* position: absolute; */
  z-index: 99;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.market-day-content.allDays {
  z-index: 0;
  opacity: 0;
  display: none;
}

.market-day-content.active {
  display: flex;
  opacity: 1;
}

.market-day-content li {
  position: relative;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-left: 3%;
  /* margin-left: 53px; */
}

.market-day-content > li:first-child {
  margin-left: 0;
}

/* .market-day-content li::after {
  content: "";
  position: absolute;
  top: 58%;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: #8da4d0;
  border-radius: 50%;
} */

.market-day-content li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.circle {
  position: absolute;
  bottom: -20px;
  right: 10px;
  /* transform: translateX(-50%); */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8da4d0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.market-day-content li:before .market-day-content > li > a {
  width: 100%;
  height: 100%;
}

.market-day-content > li > a > img {
  width: 100%;
  height: auto;
  transition: all 0.2s;
}

/* 이미지 호버시 이미지 크기 커짐 */
/* .market-day-content > li > a > img:hover {
  transform: scale(1.1);
} */

.market-day-content-txt {
  padding: 15px 5px;
}

.market-day-content-txt h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 10px 0 15px;
}

.market-day-content-txt p {
  font-size: 1.3rem;
  /* color: #777777; */
  padding-bottom: 5px;
}

.market-day-content-txt p:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-bottom: 0;
}

/* ================================================================== */
/* 시장 방문 후기 */
.review {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
}

.review .container {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  overflow: hidden;
  /* padding-bottom: 150px; */
}

.review .inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.review .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 30px; */
}

.review .title-wrap > .title-wrap-all {
  text-align: center;
}

.review .title {
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 0;
}

.review .sub-title {
  font-size: 1.3rem;
  color: #969696;
  font-weight: 300;
  margin-bottom: 50px;
}

.review .review-btn {
  display: flex;
  margin: 170px 0 50px;
  gap: 20px;
}

.review .review-btn > button {
  width: 115px;
  height: 35px;
  border: 1px solid #bababa;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #bababa;
  background-color: #fff;
  cursor: pointer;
}

.review .review-btn > button.on {
  background-color: #fe6b38;
  color: #fff;
  border: 1px solid #fe6b38;
}

/* 스와이퍼 적용 중 */
.review .swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.review .reviewSwiper1 {
  position: relative;
  z-index: 99;
}
.review .reviewSwiper2 {
  position: relative;
  z-index: 1;
  display: none;
}
.review .review-slider-eat {
  position: relative;
  height: 380px;
  /* height: 500px; */
  margin-bottom: 150px;
}

.review .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: white; */
  transition: all 0.2s ease;
  margin-right: 0;
  opacity: 0.5;
  width: 90%;

  &.swiper-slide-active {
    color: #fff;
    /* transform: scale(1.4); */
    transform: scale(1.3);
    z-index: 2;
    border-radius: 5px;
    opacity: 1;
  }
}

.review .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 40px;
}

.review .swiper-slide a img {
  width: 100%;
}

/* 이미지 커질 때: 텍스트 */
/* .review .swiper-slide .review-swiper-container {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #f1f1f1;
  padding: 15px;
}

.review .review-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-txt-top {
  display: flex;
} */
.review .swiper-slide p {
  position: absolute;
  bottom: 10%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 21px;
  width: 100%;
}

/* ARROWS */
.review .swiper-button-prev,
.review .swiper-button-next {
  color: #fe6b38;
  top: 50%;
  transform: translateY(-50%);
}
/* .review .swiper-button-prev-review1,
.review .swiper-button-next-review1 {
  color: #fe6b38;
} */

/* PAGINATION */
.review .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 21px;
  font-size: 1.2rem;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);

  &.swiper-pagination-bullet-active {
    color: #fff;
    background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
  }
}

/* 이전 스와이퍼 */
/* .review .swiper {
  width: 100%;
  height: 100%;
}

.review .swiper-wrapper {
  margin-bottom: 20px;
}

.review .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review .swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.review .review-pageBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.review .swiper-pagination {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #333;
} */

/* .review .swiper-pagination2 {
  position: relative;
  width: 65px;
  left: 15px;
  bottom: 0;
  z-index: 999;
  font-size: 16px;
} */

/* .review .swiper-pagination2 > .swiper-pagination-current {
  font-weight: 800;
} */

/* .review-sw-btn {
  position: relative;
  width: 115px;
  height: 100%;
  margin: 13px 0 0 0;
} */
/* 
.review .swiper-button-prev,
.review .swiper-button-next {
  background-color: #000000;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  border-radius: 55px;
  color: #fff !important;
}

.review .swiper-button-prev:after,
.review .swiper-button-next:after {
  font-size: 1.5rem !important;
  font-weight: 800 !important;
} */

/* 진행 막대 스타일 */
/* .review .custom-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #007bff;
  transition: 0.3s ease;
  z-index: 999;
} */

/* ================================================================== */
/* 푸터 */
.footer {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid #d9d9d9;
  font-size: 1.4rem;
  color: #999999;
}

/* .footer::after {
  content: "";
  position: absolute;
  top: 57px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
} */

.ft-top {
  width: 100%;
  display: flex;
  align-items: left;
  gap: 25px;
  margin: 22px 0 0;
  padding: 0 0 22px;
  border-bottom: 1px solid #d9d9d9;
}

.ft-bt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.ft-bt-left {
  width: 60%;
  height: 100%;
  margin: 46px 0;
  /* border-right: 1px solid #d9d9d9; */
  position: relative;
}

.ft-logo {
  /* width: 20%; */
  width: 160px;
  height: 100%;
}

.ft-logo > img {
  width: 100%;
  height: 100%;
}

.ft-bt-left > * {
  margin-bottom: 8px;
}

.ft-middle-line {
  width: 1px;
  /* height: 115px; */
  height: 160px;
  background-color: #999;
  position: relative;
  opacity: 0.5;
}

.ft-bt-right {
  width: 40%;
  height: 100%;
  margin: 46px 2%;
}

.ft-bt-right h2 {
  font-size: 2.5rem;
  margin-bottom: 14px;
  color: #5e5e5e;
  font-weight: 700;
}

.ft-bt-right p {
  margin-bottom: 8px;
  line-height: 20px;
}

/* ==================================================================== */
/* 반응형 */

/* ranking 반응형: 이미지 크기 1%씩 늘리기 */
@media screen and (max-width: 1160px) {
  .ranking-banner .ranking-banner-img {
    width: 41% !important;
  }
}

@media screen and (max-width: 1120px) {
  .ranking-banner .ranking-banner-img {
    width: 42% !important;
  }
}

@media screen and (max-width: 1080px) {
  .ranking-banner .ranking-banner-img {
    width: 43% !important;
  }
}

@media screen and (max-width: 1040px) {
  .ranking-banner .ranking-banner-img {
    width: 44% !important;
  }
}

@media screen and (max-width: 1000px) {
  .ranking-banner .ranking-banner-img {
    width: 45% !important;
  }
}

@media screen and (max-width: 960px) {
  .ranking-banner .ranking-banner-img {
    width: 46% !important;
  }
}

@media screen and (max-width: 930px) {
  .ranking-banner .ranking-banner-img {
    width: 46.5% !important;
  }
}

@media screen and (max-width: 900px) {
  .ranking-banner .ranking-banner-img {
    width: 47% !important;
  }
}

@media screen and (max-width: 899px) {
  .ranking-banner .ranking-banner-img {
    width: 60% !important;
    padding: 2% 8%;
  }

  .ranking-banner > ul > li:nth-child(1) {
    margin-top: 0;
  }
}

@media screen and (max-width: 850px) {
  .ranking-banner-txt > .ranking-banner-title {
    font-size: 1.6rem;
    margin-bottom: 7%;
  }
}
@media screen and (max-width: 820px) {
  .ranking-banner-txt > .ranking-banner-title {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 800px) {
  .ranking-banner-txt > .ranking-banner-title {
    margin-bottom: 3%;
  }
}

/* ======================================================= */
/* 반응형: 메인*/
@media screen and (max-width: 1250px) {
  /* 메인 배너 */
  .banner .container {
    padding: 0 !important;
  }
  /* 중간 배너 */
  .banner-m {
    padding: 0 20px;
  }
  /* 장날 안내 */
  /* .market-day {
    padding: 0 20px;
  } */

  /* 리뷰 */
  .review {
    padding: 0 20px;
  }
  .review .review-slider-eat {
    position: relative;
    height: 31vw;
    /* height: 600px; */
  }

  .review .swiper {
    height: 100%;
  }

  .review .swiper-slide p {
    /* font-size: 1.65rem; */
    font-size: 1.32vw;
    line-height: 26px;
  }

  /* 랭킹 */
  /* .ranking {

  } */
}

@media screen and (max-width: 1200px) {
  /* 배너 */
  .banner {
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
  .banner .container {
    height: 100%;
    overflow: hidden; /* 가로로 넘치는 부분 가리기 */
  }
  .banner .swiper {
    width: 100%;
    height: 100%;
  }

  .banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* 부모 요소 높이를 상속하여 높이 설정 */
  }

  .banner .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .banner .swiper-slide a img {
    width: 100%; /* 이미지 너비를 부모인 <a> 태그에 맞춤 */
    height: auto; /* 이미지 높이를 비율에 맞춰 자동 조정 */
  }

  .banner .bannerSwiper-1200 {
    display: flex;
  }

  .banner .bannerSwiper,
  .banner .bannerSwiper-790,
  .banner .bannerSwiper-450 {
    display: none;
  }

  /* 랭킹 */
  .ranking-banner .ranking-banner-img {
    width: 40.5%;
  }

  /* 리뷰 */
  .review .review-slider-eat {
    position: relative;
    height: 51vw;
    /* height: 600px; */
  }

  .review .swiper-slide p {
    font-size: 1.7rem !important;
    line-height: 26px;
  }
}

@media screen and (max-width: 900px) {
  /* 랭킹 */
  .ranking-title {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 850px) {
  /* 리뷰 */
  .review .swiper-slide p {
    font-size: 1.4rem;
    line-height: 21px;
  }
}

@media screen and (max-width: 790px) {
  /* 메인 배너 */
  .banner {
    max-height: 700px;
    width: 100%;
    height: 100%;
  }

  .banner .bannerSwiper-790 {
    display: block;
  }

  .banner .bannerSwiper,
  .banner .bannerSwiper-1200,
  .banner .bannerSwiper-450 {
    display: none;
  }

  /* .swiper-slide.bannerSlide1-790 {
    display: block !important;
  }

  .swiper-slide.bannerSlide1-1920,
  .swiper-slide.bannerSlide1-1200,
  .swiper-slide.bannerSlide1-450 {
    display: none !important;
  }*/

  /* 배너 슬라이드3 이미지 */
  /* .swiper-slide.bannerSlide3-790 {
    display: block !important;
  }

  .swiper-slide.bannerSlide3-1920,
  .swiper-slide.bannerSlide3-1200,
  .swiper-slide.bannerSlide3-450 {
    display: none !important;
  }  */

  /* 배너 슬라이드 4 이미지 */
  /* .swiper-slide.bannerSlide4-790 {
    display: block !important;
  }

  .swiper-slide.bannerSlide4-1920,
  .swiper-slide.bannerSlide4-1200,
  .swiper-slide.bannerSlide4-450 {
    display: none !important;
  } */

  /* 페이지네이션 */
  .banner-button-next,
  .banner-button-prev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /*중간 배너 */
  .banner-m img:nth-child(1) {
    display: none;
    width: 100%;
  }
  .banner-m img:nth-child(2) {
    display: block;
    width: 100%;
  }
  .banner-m img:nth-child(3) {
    display: none;
    width: 100%;
  }

  /* 랭킹 */
  .ranking > .container > .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ranking {
    width: 100%;
    /* margin-bottom: 25px; */
  }

  .ranking-wrap {
    /* position: relative; */
    width: 100% !important;
    height: 100%;
    margin-right: 0px;
  }

  .ranking-banner {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .ranking-banner > img {
    margin-top: 50px;
  }

  .ranking-banner .ranking-banner-img {
    width: 45% !important;
  }

  .ranking-title {
    margin-top: 25px;
    padding-top: 30px;
  }

  .title-wrap {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  /* 장날 안내 */
  .market-day .container {
    /* padding: 0 15px 255px; */
    padding: 0 20px;
  }

  .market-day .title-wrap {
    align-items: flex-start;
  }

  .btn-select {
    margin-top: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  .btn-select button {
    width: 50%;
  }

  .market-day-content {
    display: flex;
    flex-wrap: wrap; /* 요소들을 여러 줄에 걸쳐 나열 */
    padding: 0;
  }

  .market-day-content li {
    flex-basis: calc(50% - 20px); /* 요소의 폭을 2열로 나누어 설정, 마진을 고려하여 계산 */
    margin: 0 20px 20px 0; /* 오른쪽과 아래쪽에만 간격을 주도록 설정 */
  }

  .market-day-content li:nth-child(2),
  .market-day-content li:nth-child(4) {
    margin-right: 0;
  }
  /* 리뷰 */
  .review .container {
    padding: 0 15px 0;
    width: 100%;
    height: 100%;
  }

  .review .title-wrap {
    align-items: flex-start;
  }

  .review .sub-title {
    margin-bottom: 25px;
  }

  .review .review-btn {
    margin-top: 0px;
    width: 100%;
  }

  .review .review-btn > button {
    width: 50%;
  }
  .review .review-slider-eat {
    position: relative;
    height: 75vw;
    margin-bottom: 25px;
    font-size: 1.6rem;
  }

  .review .swiper-slide a {
    width: 53%;
    /* width: 100%; */
    /* width: 75%; */
  }

  .review .swiper-slide a img {
    width: 100%;
  }

  .review .swiper-slide a p {
    font-size: 1.4rem;
  }

  /* 푸터 */
  .ft-bt {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }

  .ft-top {
    flex-wrap: wrap;
    padding-left: 20px;
  }

  .ft-bt-left {
    width: 100%;
  }

  .ft-bt-left > * {
    margin-bottom: 5px;
    line-height: 20px;
  }

  .ft-middle-line {
    width: 100%;
    height: 1px;
    background-color: #999;
    position: relative;

    opacity: 0.5;
  }

  .ft-bt-right {
    width: 100%;
    height: 100%;
    margin: 46px 0;
  }
}

@media screen and (max-width: 600px) {
  .review .review-slider-eat {
    position: relative;
    height: 78vw;
  }
  &.swiper-slide-active {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .review .review-slider-eat {
    position: relative;
    height: 102vw;
  }

  .review .swiper-slide a {
    width: 70%;
  }

  .review .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
  }

  .review .swiper-button-next-review1,
  .review .swiper-button-next-review2 {
    right: 7%;
    display: none;
  }

  .review .swiper-button-prev-review1,
  .review .swiper-button-prev-review2 {
    left: 7%;
    display: none;
  }

  /* 랭킹 */
  .ranking-title {
    font-size: 2.3rem;
  }

  .ranking-banner .ranking-banner-img {
    width: 45%;
    /* width: 110px; */
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 10px 15px;
  }

  .ranking-banner-txt > .ranking-banner-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 450px) {
  /* 메인 배너 */
  .banner {
    max-height: 500px;
    width: 100%;
    height: 100%;
  }

  .banner .bannerSwiper-450 {
    display: flex;
  }

  .banner .bannerSwiper,
  .banner .bannerSwiper-1200,
  .banner .bannerSwiper-790 {
    display: none;
  }

  /* 중간 배너 */
  .banner-m img:nth-child(1) {
    display: none;
    width: 100%;
  }
  .banner-m img:nth-child(2) {
    display: none;
    width: 100%;
  }
  .banner-m img:nth-child(3) {
    display: block;
    width: 100%;
  }

  /* 랭킹 */
  .ranking .ranking-table > ul > li > .ranking-img {
    width: 8%;
  }

  .ranking-me .ranking-img {
    width: 8%;
  }

  .ranking-topRank > ul {
    width: 70%;
  }

  /* 장날 안내 */
  /* 공통 */
  .circle {
    width: 37px;
    height: 37px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  /* 랭킹 */
  .ranking-topRank .ranking-img {
    width: 45%;
  }

  .ranking .ranking-table > ul > li > .ranking-img {
    width: 9%;
  }

  .ranking-me .ranking-img {
    width: 9%;
  }
}

@media screen and (max-width: 380px) {
  /* 리뷰  */
  .review .review-slider-eat {
    height: 102vw;
  }
}

@media screen and (max-width: 360px) {
  /* 중간 배너 */

  /* 리뷰 */
  .review .review-slider-eat {
    position: relative;
    height: 112vw;
  }

  .review .swiper-slide a {
    width: 77%;
  }

  .review .swiper-button-next-review1,
  .review .swiper-button-next-review2 {
    right: 3%;
  }

  .review .swiper-button-prev-review1,
  .review .swiper-button-prev-review2 {
    left: 3%;
  }

  /* 랭킹 */
  .ranking-banner .ranking-banner-img {
    width: 55%;
  }

  .ranking-title {
    font-size: 2.1rem;
  }

  .ranking-topRank .ranking-img {
    width: 47%;
  }

  .ranking .ranking-table > ul > li > .ranking-img {
    width: 10.5%;
  }

  .ranking-me .ranking-img {
    width: 10.5%;
  }

  .ranking-topRank > ul > li:nth-child(2) > .ranking-number {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 340px) {
  /* 랭킹 */
  .review .swiper-slide p {
    font-size: 1.5rem !important;
    line-height: 26px;
  }

  .ranking-topRank > ul > li:nth-child(2) > .ranking-number {
    margin-bottom: 20px;
  }

  /* 리뷰 */
  .review .swiper-slide p {
    font-size: 1.4rem;
  }
}
