@charset "utf-8";

* {
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* box-sizing: border-box; */
}

.wrap {
  margin-top: 0 !important;
}

.join {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 200px auto 150px;
}

.join > .container {
  margin: 0 auto !important;
  max-width: 1200px;
}

/* 뒤로가기 버튼 - 모바일 */
.login_go_back {
  display: none;
}

/* 회원가입 제목 */
.join-title > h1 {
  font-size: 3rem;
  text-align: center;
  color: #333;
  font-weight: 700;
  margin-bottom: 50px;
  /* display: none; */
}

.focused {
  border: 2px solid #007bff;
  outline: none; /* 포커스 테두리 제거 */
}

/* 회원가입 과정 */
#join_agree {
  /* display: none; */
  display: block;
}

#join_basic_info {
  display: none;
  /* display: block; */
}

#join_more_info {
  /* display: block; */
  display: none;
}

/* ========================= */
/* 나중에 입력하기 */

/* ========================= */

/* 약관 동의 */
/* #join_agree #joinForm { width: 460px; margin: 0 auto; }
#join_agree ul.join_box { border: 1px solid #ddd; background-color: #fff; }
#join_agree .checkBox, #join_agree .checkBox>ul { position: relative; }
#join_agree .checkBox>ul>li { float: left; }
#join_agree .checkBox>ul>li:first-child { width: 85%; padding: 15px; font-weight: 600; color: #888; }
#join_agree .checkBox>ul>li:nth-child(2) { position: absolute; top: 50%; right: 30px; margin-top: -12px; }
#join_agree .checkBox textarea { width: 96%; height: 90px; margin: 0 2%; background-color: #f7f7f7; color: #888; border: none; }
#join_agree .footBtwrap { margin-top: 15px; }
#join_agree .footBtwrap>li { float: left; width: 50%; height: 60px; }
#join_agree .footBtwrap>li>button { display: block; width: 100%; height: 100%; font-size: 20px; text-align: center; line-height: 60px; accent-color: #ff9364;}
#join_agree .fpmgBt1 { background-color: #fff; color: #888; }
#join_agree .fpmgBt2 { background-color: lightsalmon; color: #fff; }
#join_agree #join_agree_btn{
    margin-top: 20px;
} */

#signup-form,
#signup-form2 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signupForm .signupForm-content,
#signupForm2 .signupForm-content {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#signupForm2 .signupForm-content {
  display: flex !important;

  /* margin: 0 auto; */
}

.signupForm-content-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-wrap {
  position: relative;
  display: flex;
  width: 82%;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.input-wrap input {
  position: relative;
}

.input-wrap input::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #fe6b38;
}

.input-wrap input::placeholder {
  font-size: 1.5rem;
  color: #ccc;
}

/* 약관동의 */
#join_agree {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400 !important;
}

#join_agree .sub-title {
  margin-bottom: 40px;
}

#join_agree .join_box {
  width: 100%;
  height: 10%;
}

#join_agree .checkBox {
  margin-bottom: 30px;
  width: 100%;
}

.rotate {
  transform: rotate(-180deg);
  /*transition: transform 0.5s ease;  회전 애니메이션 효과를 부드럽게 만들기 위해 추가 */
}

#join_agree .join_box > ul {
  width: 100%;
  height: 100%;
}

#join_agree .check01 > p {
  border-bottom: 1px solid #333;
  font-size: 1.4rem;
}

#join_agree li.checkBox p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 23px;
  padding: 15px 0 30px;
  border-bottom: 0.3px solid rgb(244, 244, 244);
  color: #686868;
  overflow: hidden;
}

#join_agree li.checkBox p.checkTxtScroll {
  overflow-y: scroll;
  height: 115px;
}

/* #join_agree .clearfix {
  display: flex;
  align-items: center;
} */

#join_agree .checkBtn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  transition: all 0.3;
}

#join_agree .signup-check.signup-next-btn {
  margin-left: 0;
  margin-top: 5px;
}

#join_agree .checkBtn#checkAllBtn > label {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 3px;
  margin-left: 10px;
}

#join_agree .checkBtn > input.chk {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

#join_agree .checkBtn label {
  font-weight: 500;
  padding-bottom: 0 !important;
  width: 100% !important;
}

#join_agree .checkBtn span {
  margin-left: 5px;
  color: #686868;
  font-weight: 400 !important;
}

/* #join_agree .check04 {
} */

#join_agree .checkBtn-sub {
  width: 100%;
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}

#join_agree .checkBtn-sub li {
  width: 100%;
  display: flex;
  align-items: center;
}

#join_agree .checkBtn-sub li input {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

#join_agree .checkBtn-sub li label {
  font-weight: 300;
  width: 100%;
}

/* checkbox 커스텀 (적용 x) */
#join_agree input[type="checkbox"],
#join_more_info input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  padding: 0.2em 0.4em;
  background-color: #fff;
  border: 1px solid #191919;
  box-shadow: transparent;
}

#join_agree input[type="checkbox"]:checked,
#join_more_info input[type="checkbox"]:checked {
  background-color: #fff;
  vertical-align: middle;
  appearance: none;
  background-color: #fe6b38;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1.5px #fe6b38;
  /* border: 0.4em solid tomato; */
  border-radius: 50%;
  width: 1spx;
  height: 18px;
  margin-bottom: 2px;
}
#join_more_info input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  padding: 0.2em 0.4em;
  background-color: #fff;
  border: 1px solid #191919;
  box-shadow: transparent;
}

#join_more_info input[type="radio"]:checked {
  background-color: #fff;
  vertical-align: middle;
  appearance: none;
  background-color: #fe6b38;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1.5px #fe6b38;
  /* border: 0.4em solid tomato; */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
}

/* 체크 효과 */
#join_agree #check_detial_Btn1,
#check_detial_Btn2,
#check_detial_Btn3 {
  display: none;
  transition: 0.3 all;
}

/* #check_detial_Btn1:checked ~ #checkTxt1,
#check_detial_Btn2:checked ~ #checkTxt2,
#check_detial_Btn3:checked ~ #checkTxt4 {
  display: block;
} */

#join_agree #checkTxt1,
#checkTxt2,
#checkTxt3 {
  display: none;
  transition: 0.3 all;
}

.check_detial_icon {
  cursor: pointer;
}

/* 아이디 비밀번호 */
#join_basic_info .user-button-none {
  /* width: 96.5% !important; */
  width: 97.7% !important;
}

#join_basic_info #user_pw {
  /* width: 100% !important; */
  width: 97.7% !important;
}

/* 생년월일 */
.input-wrap #user_date {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  color: #ccc;
  border-radius: 5px;
}

.input-wrap #user_date::placeholder {
  color: #ccc;
}

/* 이름 */
.input-wrap #user_nickname {
  padding: 15px 10px;
  font-size: 1.5rem;
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.input-wrap #user_nickname::placeholder {
  color: #ccc;
}

.join label {
  position: relative;
  display: flex;
  align-items: center;
  width: 180px;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.join label.label-title {
  padding-bottom: 20px;
}

.join label.label-title:nth-child(4) {
  padding-bottom: 0 !important;
}

.join span.label_star,
#join_agree span.label_star {
  margin-left: 2px;
  color: rgb(240, 63, 64);
}

.join input[type="text"],
.join input[type="password"] {
  /* box-sizing: border-box; */
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signUpCheckWrap {
  position: relative;
}

.signUpCheckWrap .time {
  position: absolute;
  left: 3px;
  /* top: 35%; */
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-top: 17px;
  text-align: right;
  font-size: 1.5rem;
  border-radius: 5px;
  z-index: -1;
}

.join #user_id,
.join #confirm_pw {
  width: 98.5%;
}

/* 번호 */
.signUpCheckWrap {
  display: flex;
  flex-direction: column !important;
}

/* .signUpCheckWrap .signupEnter {
  width: ;
} */

#signupFormNumber {
  align-items: baseline !important;
  /* width: 80% !important; */
}

.join #signupEnterNumber {
  width: 100%;
  margin-left: 3px;
  background-color: transparent !important;
}

.join #signupEnterNumber::placeholder {
  color: #ccc;
  font-size: 1.5rem;
}

.EnterNumber-btn-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#join_more_info #signUp_send_check {
  width: 16.5%;
  margin-bottom: 0 !important;
  margin-left: 13px;
}

.join select#signUpTelecom {
  border-radius: 5px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  color: #ccc;
  margin-right: 10px;
  padding: 0 5px;
  width: 12%;
  height: 48px;
}

.join select#signUpTelecom > option {
  color: #333;
}

.join button.signupEnterNumberBtn {
  border: #fff !important;
  background-color: #fff !important;
}

.join .signupForm-content button.signup-check {
  width: 19%;
  height: 100%;
  padding: 15px 10px;
  margin: 0 0 0 10px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff9364;
  border: 1px solid #ff9364;
  border-radius: 5px;
  cursor: pointer;
}

.join .signupForm-content button.signup-check:hover {
  background-color: #fe6b38;
  font-weight: bold;
  color: #fff;
}

.join .signupForm-content button.signup-check-border {
  background-color: #fff;
  border: 1px solid #ff9364;
  border-radius: 5px;
  color: #ff9364;
  margin-bottom: 12px;
}

.join .error {
  position: relative;
  bottom: 0px;
  color: rgb(240, 63, 64);
  font-size: 1.3rem;
  margin: 10px 0 0;
}

.gender-input-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

#join_more_info .gender-input-wrap .gender-all {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 0 !important;
}

#join_more_info .gender-input-wrap .gender-all label {
  padding-bottom: 0 !important;
  width: 100% !important;
  /* cursor: pointer; */
}

#join_more_info .gender-input-wrap .gender-all > input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* 다음 버튼 */
.join .next-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join button[type="submit"] {
  width: 20%;
  padding: 16px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-color: #ff9364;
  text-align: center;
}

.join button[type="submit"]:hover {
  background-color: #fe6b38;
}

/* 나중에 입력하기 */
.join label.later_enter_label {
  margin-left: 10px;
  font-size: 1.6rem;
}

.later_enter_content {
  margin-left: 150px;
  margin-bottom: 70px !important;
}

.later_enter_content #later_enter {
  width: 19px;
  height: 19px;
}

/* 회원가입: 추가 정보 입력, 비활성화 시 select& button 스타일 지정 */
.disabled-style {
  background-color: #f4f4f4 !important;
  border: 1px solid #ccc !important;
  color: #777 !important;
  cursor: not-allowed !important;
}

.later_enter_margin {
  margin-bottom: 10px !important;
}

/* =============================== */
/* 회원가입 버튼 */
#join_more_info_btn > button > a {
  width: 100%;
  display: block;
  color: #fff;
}

/* =================================================================== */
/* 반응형  */

/* @media screen and (max-width: 880px) {
  .join .signupForm-content button.signup-check {
    width: 20%;
  }
}

@media screen and (max-width: 830px) {
  .join .signupForm-content button.signup-check {
    width: 22%;
  }

  #join_basic_info .user-button-none {
    width: 94.5% !important;
  }
} */

@media screen and (max-width: 790px) {
  .wrap {
    margin: 0 !important;
    overflow: none;
  }

  .join {
    margin: 100px auto 150px;
  }

  .header,
  .mb-header,
  .mb-header-450 {
    display: none !important;
    margin-bottom: 0 !important;
  }

  /* 컨테이너 */
  .join > .container {
    padding: 0 40px;
  }

  /* 타이틀 */
  .join-title > h1 {
    text-align: left;
  }

  .join #user_id,
  .join #confirm_pw {
    width: 100%;
  }

  .join .error {
    margin: 5px 0 10px !important;
  }

  /* 뒤로가기 버튼 - 모바일 */
  .login_go_back {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 50px;
    position: relative;
    top: -50%;
    z-index: 999999;
    padding: 20px 50px 0;
  }

  .login_go_back > a {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
  }

  .login_go_back #loginCloseBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .login_go_back #loginCloseBtn > #loginCloseIcon {
    font-size: 2.5rem;
  }

  .login_go_back #loginCloseBtn > #loginCloseIcon:hover {
    font-size: 2.5rem;
    color: #ff9364;
  }

  .login_go_back .go_back_title {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 10px;
  }

  #signupForm .signupForm-content,
  #signupForm2 .signupForm-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 20px !important;
    flex-direction: column !important;
  }

  .signupForm-content-wrap {
    width: 100%;
  }

  .input-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .join label {
    padding-bottom: 10px !important;
  }

  .join #user_nickname {
    width: 100%;
  }

  /* 다음 버튼 */
  .join .next-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .join button[type="submit"] {
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    background-color: #ff9364;
    text-align: center;
  }

  .join button[type="submit"]:hover {
    background-color: #fe6b38;
  }

  #join_basic_info #user_pw {
    width: 100% !important;
  }

  #signupForm .signupForm-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 20px !important;
    flex-direction: column;
  }

  /* .join #user_number {
    width: 95%;
  } */

  .join .gender-input-wrap {
    flex-direction: row;
  }

  #join_more_info .gender-all label,
  #join_more_info .later_enter_label {
    font-weight: 400;
    margin-left: 0 !important;
  }

  #join_more_info .later_enter_label {
    margin-left: 10px !important;
    padding-bottom: 0 !important;
    padding-top: 2px !important;
  }

  #join_more_info .later_enter_content {
    margin-left: 0 !important;
    display: flex !important;
    font-weight: 400;
    flex-direction: row !important;
  }

  .join #signupEnterNumber {
    margin-left: 0;
    /* margin-bottom: 30px; */
  }

  /* 인증시간 */

  .enterNumber-content {
    display: flex;
    flex-direction: row !important;
  }

  .signUpCheckWrap .time {
    left: 0;
  }

  .join .label-title:last-child,
  .join .signupEnterNumberBtn {
    display: none;
  }

  .join select#signUpTelecom {
    width: 15%;
  }

  .join .signupForm-content button.signup-check {
    width: 24%;
  }

  #join_agree .signup-next-btn {
    width: 100% !important;
    padding: 15px 10px;
    margin-left: 0;
    background-color: #ff9364;
    color: #fff;
  }

  #join_agree .signup-next-btn:hover {
    background-color: #fe6b38;
  }

  /* checkbox 커스텀 (적용 x) */
  #join_agree input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #333;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  #join_agree input[type="checkbox"]:checked {
    background-color: #fff;
    vertical-align: middle;
    appearance: none;
    background-color: #fe6b38;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1.5px #fe6b38;
    /* border: 0.4em solid tomato; */
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }

  /* 기본 정보 */
  #join_basic_info .user-button-none {
    width: 100% !important;
  }

  /* 추가 정보 */
  #join_more_info #signupEnterNumber {
    width: 100%;
  }
  #join_more_info #signUp_send_check {
    margin-left: 10px;
    width: 21%;
  }
  .gender label {
    width: 100% !important;
    font-size: 1.4rem;
  }

  .gender-input-wrap {
    margin: 20px 0 30px;
  }
}

@media screen and (max-width: 700px) {
  .join .signupForm-content button.signup-check {
    width: 28%;
  }

  #join_more_info #signUp_send_check {
    width: 24.5%;
  }
}

@media screen and (max-width: 665px) {
  .join .signupForm-content button.signup-check {
    width: 28%;
  }
}

@media screen and (max-width: 620px) {
  .join .signupForm-content button.signup-check {
    width: 30%;
  }

  #join_more_info #signUp_send_check {
    width: 26.5%;
  }
}

@media screen and (max-width: 570px) {
  .join .signupForm-content button.signup-check {
    width: 33%;
  }
  .join select#signUpTelecom {
    width: 23%;
  }

  #join_more_info #signUp_send_check {
    width: 30%;
  }
}
@media screen and (max-width: 570px) {
  .join .signupForm-content button.signup-check {
    width: 33%;
  }

  #join_more_info #signUp_send_check {
    width: 27%;
  }
}

@media screen and (max-width: 552px) {
  .join .signupForm-content button.signup-check {
    width: 35%;
  }

  #join_more_info #signUp_send_check {
    width: 29%;
  }
}

@media screen and (max-width: 540px) {
  .join .signupForm-content button.signup-check {
    width: 37%;
  }

  #join_more_info #signUp_send_check {
    width: 30%;
  }
}

@media screen and (max-width: 510px) {
  .join .signupForm-content button.signup-check {
    width: 40%;
  }

  #join_more_info #signUp_send_check {
    width: 33%;
  }
}

@media screen and (max-width: 510px) {
  .join .signupForm-content button.signup-check {
    width: 43%;
  }
}

@media screen and (max-width: 465px) {
  #join_more_info .signupForm-content button.signup-check {
    width: 47%;
  }

  #join_more_info #signUp_send_check {
    width: 37%;
  }
}
@media screen and (max-width: 440px) {
  #join_more_info select#signUpTelecom {
    width: 27%;
  }
}

@media screen and (max-width: 430px) {
  #join_more_info select#signUpTelecom {
    width: 32%;
  }
}

@media screen and (max-width: 400px) {
  /* 이용약관 동의 */
  #join_agree li.checkBox p {
    font-size: 1.4rem;
  }

  #join_agree .checkBtn label {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 395px) {
  #join_more_info select#signUpTelecom {
    width: 35%;
  }
}

@media screen and (max-width: 380px) {
  #join_more_info select#signUpTelecom {
    width: 40%;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 360px) {
  #join_more_info select#signUpTelecom {
    width: 45%;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 352px) {
  /* 이용약관 동의 */
  #join_agree li.checkBox p {
    font-size: 1.3rem;
  }

  #join_agree .checkBtn label {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 345px) {
  .join select#signUpTelecom {
    width: 37%;
  }

  /* 추가 정보 입력 */
  #join_more_info .gender-input-wrap .gender-all label {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 330px) {
  /* 추가 정보 입력 */
  #join_more_info .gender-input-wrap .gender-all label {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 325px) {
  .join select#signUpTelecom {
    width: 40%;
  }
}
