@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  /* font-family: "GmarketSansMedium", sans-serif; */
  color: #191919;
  word-break: keep-all;
  font-size: 10px;
  position: relative;
}

/* 공톹요소 */
.wrap {
  width: 100%;
  position: relative;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  padding-top: 30px;
  margin-bottom: 50px;
}
