@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #191919;
  word-break: keep-all;
  font-size: 10px;
  position: relative;
}
/* 공톹요소 */
.wrap {
  width: 100%;
  position: relative;
  margin-top: 100px;
}
.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.title {
  font-size: 3rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 150px;
  padding-top: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}
/* section{
  margin-bottom: 180px;
} */
/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  transition: top 0.3s ease; /* 부드러운 이동 효과를 위한 transition 설정 */
  z-index: 9999;
  transition: box-shadow 0.3s ease; /* 부드러운 변화를 위한 transition 설정 */
}
.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 스크롤 내릴 때 그림자 효과 강화 */
}
.header > .container > .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}
/* 로고 */
.hd-logo {
  position: relative;
  display: block;
  width: 200px;
  height: auto;
  margin-top: 10px;
}
.hd-logo > a > img {
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}
/* 메뉴 */
.nav {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
}
.nav > .menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.nav > .menu-list > li {
  display: flex;
  align-items: center;
}
.nav > .menu-list > li a {
  font-size: 2rem;
}
/* 마이페이지 */
.hd-right {
  display: block;
  position: relative;
  width: 220px;
  height: 100%;
}
.hd-right > .my-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd-right > .my-list > li {
  display: flex;
  align-items: center;
}
.hd-right > .my-list > li > button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.hd-right > .my-list > li > button > i {
  position: absolute;
  top: 41%;
  left: -10px;
  font-size: 2rem;
}
.hd-right > .my-list > li a {
  font-size: 2rem;
}
.hd-right > .my-list > li:nth-child(1) button:hover {
  color: #f88222;
}
.hd-right > .my-list > li:nth-child(2) a:hover {
  color: #f88222;
}
.hd-right > .my-list > li:nth-child(3) a:hover {
  color: #f88222;
}
.hd-right > .my-list > li > a > i {
  font-size: 2.5rem;
}
.hd-right > .my-list > li:nth-child(1)::after {
  content: "";
  width: 1.3px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translateY(-50%);
  background-color: #333;
}
.menu-list li a {
  position: relative;
}
.menu-list li a::after {
  content: "";
  display: none;
  width: 5px;
  height: 5px;
  background: #f88222;
  border-radius: 100%;
  position: absolute;
  right: -11px;
  top: 0px;
}
.menu-list li a:hover::after
/* .menu-list li a:focus::after  */ {
  display: inline-block;
}
.menu-list li.active a::after {
  display: inline-block;
}
/* 검색창 */
.header > .search {
  width: 100%;
  position: relative;
  display: none;
}
.header > .search > .container {
  width: 100%;
  height: 600px;
  position: absolute;
  top: -100px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.header > .search > .container > .inner {
  width: 100%;
  height: 100%;
}
.header > .search > .container > .inner > .hd-logo {
  margin-top: 20px;
}
.header .search .container .inner .search-contents {
  padding: 50px 0px 0px 0px;
  /* margin: 0 auto; */
}
.header .search .search-close-bt {
  position: relative;
  width: 100%;
}
.header .search .search-close-bt > i {
  position: absolute;
  top: -60px;
  right: 0;
  display: inline-block;
  font-size: 3.5rem;
  color: #5e5e5e;
  cursor: pointer;
}
/* 검색 상단*/
.header .search .search-contents .search-content-top {
  display: flex;
  position: relative;
}
.header .search .search-contents .search-content-top input {
  height: 30px;
  /* width: 800px; */
  width: 100%;
  border-width: 0 0 2px;
  outline: none;
  font-size: 2rem;
}
input::placeholder {
  color: #5e5e5e;
  font-size: 2rem;
}
.header .search .search-contents .search-content-top i {
  font-size: 2rem;
  color: #5e5e5e;
  cursor: pointer;
}
/* 검색 중간 */
.header .search .search-content-mid {
  margin: 35px 0px;
}
.header .search .search-content-mid p {
  font-size: 2rem;
}
.header .search .search-content-mid .search-s {
  font-size: 1.3rem;
  text-align: center;
  padding: 40px 0;
}
/* 검색 하단 */
.header .search .search-content-bot {
  position: relative;
  display: block;
}
.header .search .search-content-bot-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header .search .search-content-bot-top p {
  font-size: 2rem;
}
.header .search .search-content-bot-top .search-s {
  font-size: 1.3rem;
}
.header .search .search-content-bot-top .search-s i {
  margin-right: 5px;
}
.header .search .search-content-bot .search-hot {
  display: flex;
  /* justify-content: space-around; */
  gap: 40%;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 15px 30px;
}
.header .search .search-content-bot .search-hot .search-hot-list-left {
  font-size: 1.6rem;
  line-height: 1.9;
}
.header .search .search-content-bot .search-hot .search-hot-list-left li span {
  margin-right: 20px;
}
.header .search .search-content-bot .search-hot .search-hot-list-left li {
  cursor: pointer;
}
.header .search .search-content-bot .search-hot .search-hot-list-right {
  font-size: 1.6rem;
  line-height: 1.9;
}
.header .search .search-content-bot .search-hot .search-hot-list-right li span {
  margin-right: 20px;
}
.header .search .search-content-bot .search-hot .search-hot-list-right li {
  cursor: pointer;
}
.header .search .search-content-bot .search-hot .search-hot-list-right li:nth-child(5) span {
  margin-right: 11px;
}
/* 모바일 헤더 */
.mb-header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #fff;
  transition: top 0.3s ease; /* 부드러운 이동 효과를 위한 transition 설정 */
  z-index: 9999;
  transition: box-shadow 0.3s ease; /* 부드러운 변화를 위한 transition 설정 */
  display: none;
}
.mb-header > .inner {
  position: relative;
  display: block;
}
.mb-header > .inner > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
}
.mb-header > .inner > .container > .search {
  display: none;
}
.mb-header > .inner > .container > .mb-menu > button {
  border: none;
  background: none;
  cursor: pointer;
}
.mb-header > .inner > .container > .mb-menu > button > i {
  font-size: 2.8rem;
}
.mb-header > .inner > .container > .logo {
  position: relative;
  display: block;
}
.mb-header > .inner > .container > .logo > a > img {
  width: 60px;
  height: 60px;
}
.mb-header > .inner > .container > .mb-search > button {
  border: none;
  background: none;
  cursor: pointer;
}
.mb-header > .inner > .container > .mb-search > button > i {
  font-size: 2.5rem;
}
/* 모바일 햄버거바 메뉴 */
.mb-header > .mb-menu-contents {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  padding-left: 50px;
  z-index: 999;
  display: none;
}
.mb-header > .mb-menu-contents > .mb-menu-xBt {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 4rem;
  cursor: pointer;
}
.mb-header > .mb-menu-contents > .mb-my-list {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.mb-header > .mb-menu-contents > .mb-my-list > a > span {
  margin: 0 15px 0 20px;
  font-size: 2rem;
}
.mb-header > .mb-menu-contents > .mb-my-list > a i {
  font-size: 1.8rem;
  line-height: 2rem;
}
.mb-header > .mb-menu-contents > .mb-menu-list {
  margin-top: 65px;
}
.mb-header > .mb-menu-contents > .mb-menu-list > li {
  padding: 20px 0;
}
.mb-header > .mb-menu-contents > .mb-menu-list > li > a {
  font-size: 2rem;
}
.mb-header > .mb-menu-contents > .mb-menu-list > li:hover a {
  color: #f88222;
}
.go-join {
  position: relative;
  display: block;
}
.go-join a span {
  font-size: 1.4rem;
  color: #5e5e5e;
  position: absolute;
  left: 65px;
  top: 5px;
}
.go-join a span:hover {
  font-weight: bold;
}
/* 모바일 검색 */
/* 검색창 */
.mb-header > .search {
  width: 100%;
  position: relative;
  display: none;
}
.mb-header > .search > .container {
  width: 100%;
  height: 530px;
  position: absolute;
  top: -80px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.mb-header > .search > .container > .inner {
  width: 100%;
  height: 100%;
}
.mb-header > .search > .container > .inner > .hd-logo > a {
  display: block;
  width: 70px;
}
.mb-header > .search > .container > .inner > .hd-logo > a > img {
  width: 70px;
  height: 70px;
}
.mb-header .search .container .inner .search-contents {
  padding: 50px 0px 0px 0px;
  /* padding: 0 200px; */
}
.mb-header .search .search-close-bt {
  position: relative;
  width: 100%;
}
.mb-header .search .search-close-bt > i {
  position: absolute;
  top: -60px;
  right: 0;
  display: inline-block;
  font-size: 3.5rem;
  color: #5e5e5e;
  cursor: pointer;
}
/* 상단 */
.mb-header .search .search-contents .search-content-top {
  display: flex;
  position: relative;
}
.mb-header .search .search-contents .search-content-top input {
  height: 30px;
  width: 800px;
  border-width: 0 0 2px;
  outline: none;
  font-size: 2rem;
}
.mb-header .search .search-contents .search-content-top input::placeholder {
  color: #5e5e5e;
  font-size: 1.5rem;
}
.mb-header .search .search-contents .search-content-top i {
  font-size: 2rem;
  color: #5e5e5e;
  cursor: pointer;
}
/* 검색 중간 */
.mb-header .search .search-content-mid {
  margin: 30px 0px;
}
.mb-header .search .search-content-mid p {
  font-size: 2rem;
}
.mb-header .search .search-content-mid .search-s {
  font-size: 1.3rem;
  text-align: center;
  padding: 30px 0;
}
/* 검색 하단 */
.mb-header .search .search-content-bot {
  position: relative;
  display: block;
}
.mb-header .search .search-content-bot-top {
  display: flex;
  justify-content: space-between;
}
.mb-header .search .search-content-bot-top p {
  font-size: 2rem;
}
.mb-header .search .search-content-bot-top .search-s {
  font-size: 1.3rem;
}
.mb-header .search .search-content-bot-top .search-s i {
  margin-right: 5px;
}
.mb-header .search .search-content-bot .search-hot {
  display: flex;
  /* justify-content: space-around; */
  gap: 40%;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 15px 30px;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-left {
  font-size: 1.6rem;
  line-height: 1.9;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-left li span {
  margin-right: 20px;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-left li {
  cursor: pointer;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-right {
  font-size: 1.6rem;
  line-height: 1.9;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-right li span {
  margin-right: 20px;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-right li {
  cursor: pointer;
}
.mb-header .search .search-content-bot .search-hot .search-hot-list-right li:nth-child(5) span {
  margin-right: 11px;
}
/* 메인 배너 */
.banner {
  width: 100%;
  height: 500px;
  background-color: lightgoldenrodyellow;
}
/* 시장 소개 */
.market-info {
  position: relative;
  display: block;
}
.market-info-contents {
  display: flex;
  justify-content: space-between;
}
/* 왼쪽 */
.market-info-left {
  width: 40%;
  height: auto;
  padding-bottom: 30px;
  background-color: #e0e7fb;
}
.map-bg {
  width: 100%;
}
.market-info .market-info-left .map-bg {
  background-image: url("../images/3marketinfo/main_map_daegu.png");
  width: 395px;
  height: 570px;
  position: relative;
  z-index: 10;
  transition: all 0.3s;
  margin: 50px 0 0 50px;
}
.market-info .market-info-left .map-bg .map-pin-cont i {
  display: block;
  width: 34px;
  height: 44px;
  background: no-repeat center;
  background-image: url("../images/3marketinfo/map_pin_off_02.png");
  position: relative;
  cursor: pointer;
}
.market-info .market-info-left .map-bg .map-pin-cont span {
  display: none;
}
.market-info .market-info-left .map-bg .map-pin-cont:hover span {
  padding: 14px 16px;
  display: block;
  background: #f88222;
  border-radius: 15px;
  position: absolute;
  top: -64px;
  left: 50%;
  font-size: 1.3rem;
  transform: translateX(-50%);
  color: #fff;
  z-index: 11;
}
.market-info .market-info-left .map-bg .map-pin-cont span::after {
  content: "";
  display: block;
  width: 18px;
  height: 7px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: no-repeat center;
  background-image: url("../images/3marketinfo/map_after.png");
}
.market-info .market-info-left .map-bg .map-pin-cont:hover i {
  display: block;
  width: 34px;
  height: 44px;
  background: no-repeat center;
  background-image: url("../images/3marketinfo/map_pin_on.png");
  position: relative;
}
/* 클릭한 후에 요소가 화면에 계속 유지되는 스타일 */
.market-info .market-info-left .map-bg .map-pin-cont.active span {
  padding: 14px 16px;
  display: block;
  background: #f88222;
  border-radius: 15px;
  position: absolute;
  top: -64px;
  left: 50%;
  font-size: 1.3rem;
  transform: translateX(-50%);
  color: #fff;
  z-index: 11;
}
.market-info .market-info-left .map-bg .map-pin-cont.active i {
  display: block;
  width: 34px;
  height: 44px;
  background-image: url("../images/3marketinfo/map_pin_on.png");
  position: relative;
}
.market-info .market-info-left .map-bg .map-pin-cont.active span::after {
  content: "";
  display: block;
  width: 18px;
  height: 7px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: no-repeat center;
  background-image: url("../images/3marketinfo/map_after.png");
}
/* 대구 */
.market-info .market-info-left .map-bg .daegu {
  position: absolute;
  top: 290px;
  left: 230px;
}
/* 부산 */
.market-info .market-info-left .map-bg .busan {
  position: absolute;
  top: 367px;
  left: 275px;
}
/* 충북 */
.market-info .market-info-left .map-bg .chungbuk {
  position: absolute;
  top: 172px;
  left: 148px;
}
/* 충남 */
.market-info .market-info-left .map-bg .chungnam {
  position: absolute;
  top: 215px;
  left: 60px;
}
/* 대전 */
.market-info .market-info-left .map-bg .daejeon {
  position: absolute;
  top: 235px;
  left: 121px;
}
/* 강원 */
.market-info .market-info-left .map-bg .gangwon {
  position: absolute;
  top: 76px;
  left: 210px;
}
/* 광주 */
.market-info .market-info-left .map-bg .gwangju {
  position: absolute;
  top: 375px;
  left: 60px;
}
/* 경북 */
.market-info .market-info-left .map-bg .gyeongbuk {
  position: absolute;
  top: 230px;
  left: 250px;
}
/* 경기 */
.market-info .market-info-left .map-bg .gyeonggi {
  position: absolute;
  top: 120px;
  left: 116px;
}
/* 경남 */
.market-info .market-info-left .map-bg .gyeongnam {
  position: absolute;
  top: 360px;
  left: 180px;
}
/* 인천 */
.market-info .market-info-left .map-bg .incheon {
  position: absolute;
  top: 100px;
  left: 45px;
}
/* 제주 */
.market-info .market-info-left .map-bg .jeju {
  position: absolute;
  top: 510px;
  left: 105px;
}
/* 전북 */
.market-info .market-info-left .map-bg .jeonbuk {
  position: absolute;
  top: 310px;
  left: 90px;
}
/* 전남 */
.market-info .market-info-left .map-bg .jeonnam {
  position: absolute;
  top: 400px;
  left: 105px;
}
/* 세종 */
.market-info .market-info-left .map-bg .sejong {
  position: absolute;
  top: 195px;
  left: 100px;
}
/* 서울 */
.market-info .market-info-left .map-bg .seoul {
  position: absolute;
  top: 85px;
  left: 80px;
}
/* 울산 */
.market-info .market-info-left .map-bg .ulsan {
  position: absolute;
  top: 320px;
  left: 296px;
}
/* 1045일 때 왼쪽 */
.market-info-1045 {
  position: relative;
  display: none;
}
.market-info-contents2 .market-contents2 {
  position: relative;
  display: none;
  margin-top: 40px;
}
.local-cont > .local-bt-name {
  width: 60px;
  border-radius: 5px;
  /* background-colo; r: #fe6b38;
  color: #fff*/
  display: block;
  /* border: none; */
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #bababa;
  background-color: #fff;
  color: #bababa;
}
.sw-local-container {
  display: block;
  position: relative;
  padding: 10px;
  /* overflow: hidden; */
  margin: 0 20px;
}
.sw-local-name {
  position: relative;
  display: block;
  width: 100%;
}
.market-info-1045 .market-content-right-top {
  margin: 10px 0;
}
/* 오른쪽 */
.market-info-right {
  width: 60%;
  background-color: #e0e7fb;
}
.market-info-right .market-contents {
  padding: 50px;
}
.market-info-right .market-contents .market-content1,
.market-info-right .market-contents .market-content2 {
  border-radius: 5px;
  background-color: #fff;
  padding: 30px 20px;
  display: flex;
  gap: 20px;
}
.market-content-right,
.market-content-left {
  /* margin: auto; */
  width: 50%;
}
.market-content-left img {
  width: 100%;
  cursor: pointer;
}
.market-content-right .market-content-right-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.market-content-right .market-content-right-top p {
  font-size: 1.6rem;
  font-weight: bold;
}
.market-content-right .market-content-right-top span {
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #191919;
  background-color: #fdebc8;
}
.market-adr {
  display: block;
  font-size: 1.5rem;
  margin: 15px 0;
}
.market-content-info {
  display: block;
  font-size: 1.3rem;
  line-height: 1.5;
  word-break: break-all;
  color: #a6a6a6;
}
.market-info-right .market-contents .market-content2 {
  margin-top: 30px;
  margin-bottom: 35px;
}
.market-info-right .market-contents {
  display: none;
}
/* 더보기 버튼 */
.market-contents button {
  /* border: 1px solid #fe6b38; */
  background-color: #eeeeee;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 100px;
  height: 35px;
  font-size: 1.6rem;
  /* line-height: 45px; */
  /* font-weight: 700; */
  border: none;
  color: #333;
  border-radius: 5px;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}
.market-contents button:hover {
  background-color: #ff9364;
  color: #fff;
}
.market-info > .market-info-contents > .market-contents {
  display: none;
}
.market-info-contents2 {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
}
.market-contents2 .swiper {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  /* padding: 20px 0; */
  /* border: 0.5px solid #a6a6a6; */
  text-align: center;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}
.market-contents2 .swiper-slide {
  padding: 20px;
}
.market-contents2 .market-content-left {
  display: block;
  width: 100%;
  margin: auto;
}
.market-contents2 .market-content-right {
  display: block;
  width: 100%;
  margin: auto;
}
.market-contents2 .market-adr,
.market-contents2 .market-content-info {
  display: block; /* 각 span 요소를 한 줄에 하나씩 표시 */
  text-align: left; /* span 요소를 왼쪽 정렬 */
}
.market-contents2 .market-content-right-top {
  margin: 15px 0;
}
.market-contents2 .market-content-right .market-content-right-top p {
  font-size: 1.6rem;
}
.market-contents2 .market-adr {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #5e5e5e;
}
/* 더보기 버튼 */
.market-contents2 button {
  /* border: 1px solid #fe6b38; */
  background-color: #eeeeee;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 100px;
  height: 35px;
  font-size: 1.6rem;
  /* line-height: 45px; */
  /* font-weight: 700; */
  border: none;
  color: #333;
  border-radius: 5px;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}
.market-contents2 button:hover {
  background-color: #ff9364;
  color: #fff;
}
.prev-local-name:after,
.next-local-name:after {
  font-size: 2rem;
  color: #f88222;
}
.prev-local-name {
  top: 25px;
  right: auto;
  left: -10px;
}
.next-local-name {
  top: 25px;
  left: auto;
  right: -5px;
}
/* 시장 소개 페이지네이션 */
.swiper-pagination-marketInfo .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #fdc3aa;
  opacity: 1;
  margin-bottom: 5px !important;
}
.swiper-pagination-marketInfo .swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #fdc3aa;
  border: 1px solid transparent;
  margin-bottom: 5px !important;
}
/* .swiper-pagination-marketInfo {
  position: relative;
  top: 0;
}
:root {
  --swiper-theme-color: #ff9364;
} */
/* 시장 소개 끝 ================================================== */
#daegu {
  display: block;
}
/* 맛집1 */
.bestrestTop {
  position: relative;
  display: block;
}
/* bestTop 오른쪽 */
.bestresttopright {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.sectionTopbt {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
.sectionTopbt button {
  width: 115px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #bababa;
  background-color: #fff;
  color: #bababa;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.sectionTopbt > li:nth-child(1) > button {
  background-color: #fe6b38;
  color: #fff;
  border: none;
}
.moreBt {
  /* border: 1px solid #fe6b38; */
  background-color: #eeeeee;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 100px;
  height: 35px;
  font-size: 1.6rem;
  /* line-height: 45px; */
  /* font-weight: 700; */
  border: none;
  color: #333;
  border-radius: 5px;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}
.moreBt:hover {
  background-color: #ff9364;
  color: #fff;
}
.moreBts {
  background-color: #fff;
  font-size: 2.5rem;
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 45px;
  color: #333;
  border: none;
  cursor: pointer;
  z-index: 5;
  text-align: center;
  display: none;
}
/* 베스트 스와이퍼 */
.prev-best,
.next-best {
  left: auto;
  right: 170px;
  top: auto;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  margin: 0;
  bottom: 0;
  background: url(../images/4bestrest/btn_cockcock_slide.png) center no-repeat;
  background-size: cover;
  opacity: 0.6 !important;
}
.prev-best {
  background-position: 0 -36px;
}
.next-best {
  right: 120px;
  background-position: 0 -72px;
}
.scrollbar-best {
  background: #ededee;
  left: 0 !important;
  right: 220px !important;
  width: auto !important;
  bottom: 17px !important;
  opacity: 0.3 !important;
}
/* 유명인 스와이퍼 */
.prev-famous,
.next-famous {
  left: auto;
  right: 170px;
  top: auto;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  margin: 0;
  bottom: 0;
  background: url(../images/4bestrest/btn_cockcock_slide.png);
  opacity: 0.6 !important;
}
.prev-famous {
  background-position: 0 -36px;
}
.next-famous {
  right: 120px;
  background-position: 0 -72px;
}
.scrollbar-famous {
  background: #ededee;
  left: 0 !important;
  right: 220px !important;
  width: auto !important;
  bottom: 17px !important;
  opacity: 0.3 !important;
}
/* 맛집1 */
.sw-best {
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  /* background-color: aquamarine; */
}
.famous-food {
  display: none;
}
.sw-best > .swiper-wrapper > .swiper-slide > span {
  font-size: 16rem;
  position: absolute;
  font-weight: bold;
  left: 0px;
  top: 10%;
  /* transform: translateY(-50%); */
  color: #fff;
  text-shadow: -1px 0px #a6a6a6, 0px 1px #a6a6a6, 1px 0px #a6a6a6, 0px -1px #a6a6a6;
}
.sw-best > .swiper-wrapper > .swiper-slide > .best-content {
  position: absolute;
  top: 0;
  left: 60px;
  /* background-color: #a57474; */
}
.sw-best .swiper-wrapper .swiper-slide .best-content img {
  width: 100%;
  height: 100%;
  -left: 20px;
  cursor: pointer;
}
.sw-best .swiper-wrapper .swiper-slide .best-content .name1 {
  padding: 30px 0 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.sw-best .swiper-wrapper .swiper-slide .best-content .name2 {
  font-size: 1.5rem;
}
.sw-best .swiper-wrapper .swiper-slide .best-content .coment {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 1.3rem;
  cursor: pointer;
}
/* 맛집 2 */
.sw-famous {
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  /* background-color: aquamarine; */
}
.famousrestBottom {
  position: relative;
  display: block;
  width: 100%;
  display: none;
}
.sw-famous .swiper-wrapper .swiper-slide .famous-content img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sw-famous .swiper-wrapper .swiper-slide .famous-content .names {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px 0;
}
.sw-famous .swiper-wrapper .swiper-slide .famous-content .names .name1 {
  font-size: 1.6rem;
  font-weight: bold;
}
.sw-famous .swiper-wrapper .swiper-slide .famous-content .names .name2 {
  font-size: 1.5rem;
}
.sw-famous .swiper-wrapper .swiper-slide .famous-content .famous-tag-list {
  display: flex;
  gap: 10px;
}
.sw-famous .swiper-wrapper .swiper-slide .famous-content .famous-tag-list .famous-tag {
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 1.3rem;
  text-align: center;
  background-color: #eeeeee;
  color: #5e5e5e;
  cursor: pointer;
}
/* 노포 시장 */
.market-old {
  margin-bottom: 150px;
}
/* 옛날 스와이퍼 */
.prev-old,
.next-old {
  left: auto;
  right: 170px;
  top: auto;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  margin: 0;
  bottom: 0;
  background: url(../images/4bestrest/btn_cockcock_slide.png);
  opacity: 0.6 !important;
}
.prev-old {
  background-position: 0 -36px;
}
.next-old {
  right: 120px;
  background-position: 0 -72px;
}
.scrollbar-old {
  background: #ededee;
  left: 0 !important;
  right: 220px !important;
  width: auto !important;
  bottom: 17px !important;
  opacity: 0.3 !important;
}
/* 특색 스와이퍼 */
.prev-unique,
.next-unique {
  left: auto;
  right: 170px;
  top: auto;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  margin: 0;
  bottom: 0;
  background: url(../images/4bestrest/btn_cockcock_slide.png);
  opacity: 0.6 !important;
}
.prev-unique {
  background-position: 0 -36px;
}
.next-unique {
  right: 120px;
  background-position: 0 -72px;
}
.scrollbar-unique {
  background: #ededee;
  left: 0 !important;
  right: 220px !important;
  width: auto !important;
  bottom: 17px !important;
  opacity: 0.3 !important;
}
/* 야시장 스와이퍼 */
.prev-night,
.next-night {
  left: auto;
  right: 170px;
  top: auto;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  font-size: 0;
  margin: 0;
  bottom: 0;
  background: url(../images/4bestrest/btn_cockcock_slide.png);
  opacity: 0.6 !important;
}
.prev-night {
  background-position: 0 -36px;
}
.next-night {
  right: 120px;
  background-position: 0 -72px;
}
.scrollbar-night {
  background: #ededee;
  left: 0 !important;
  right: 220px !important;
  width: auto !important;
  bottom: 17px !important;
  opacity: 0.3 !important;
}
/* 옛날감성 시장 */
.marketOldTop {
  position: relative;
  display: block;
}
/* bestTop 오른쪽 */
.marketoldright {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.unique-market,
.night-market {
  display: none;
}
.sw-old {
  position: relative;
  display: block;
  width: 100%;
  height: 430px;
}
.sw-old .swiper-wrapper .swiper-slide .old-content img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sw-old .swiper-wrapper .swiper-slide .old-content .name1 {
  padding: 30px 0 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.sw-old .swiper-wrapper .swiper-slide .old-content .name2 {
  font-size: 1.5rem;
}
/* 특색 있는 */
.sw-unique {
  position: relative;
  display: block;
  width: 100%;
  height: 430px;
}
.marketUniqueBottom {
  position: relative;
  display: block;
  width: 100%;
  display: none;
}
.sw-unique .swiper-wrapper .swiper-slide .unique-content img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sw-unique .swiper-wrapper .swiper-slide .unique-content .name1 {
  padding: 30px 0 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.sw-unique .swiper-wrapper .swiper-slide .unique-content .name2 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}
.sw-unique .swiper-wrapper .swiper-slide .unique-content .unique-tag-list {
  display: flex;
  gap: 10px;
}
.sw-unique .swiper-wrapper .swiper-slide .unique-content .unique-tag-list .unique-tag {
  border-radius: 30px;
  padding: 5px;
  font-size: 1.3rem;
  width: 80px;
  text-align: center;
  background-color: #eeeeee;
  color: #5e5e5e;
  cursor: pointer;
}
/* 야시장 */
.marketNightBottom {
  position: relative;
  display: block;
  width: 100%;
  display: none;
}
.sw-night {
  position: relative;
  display: block;
  width: 100%;
  height: 430px;
}
.sw-night .swiper-wrapper .swiper-slide .night-content img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sw-night .swiper-wrapper .swiper-slide .night-content .name1 {
  padding: 30px 0 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.sw-night .swiper-wrapper .swiper-slide .night-content .name2 {
  font-size: 1.5rem;
}
