@media screen and (max-width: 1250px) {
  .container {
    padding: 0px 20px;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 14rem;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    left: 50px;
  }
}
@media screen and (max-width: 1200px) {
  /* 시장 소개 왼쪽 */
  .market-info .market-info-left .map-bg {
    margin: 30px 0 0 30px;
  }
  .market-info-right .market-contents .market-content1,
  .market-info-right .market-contents .market-content2 {
    padding: 20px 15px;
  }
  .market-content-right .market-content-right-top p {
    font-size: 1.5rem;
  }
  .market-adr {
    font-size: 1.4rem;
    margin: 10px 0;
  }
}
@media screen and (max-width: 1150px) {
  .sw-famous > .swiper-wrapper > .swiper-slide > .famous-content > .famous-tag-list > .famous-tag {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1140px) {
  /* 시장 소개 오른쪽 */
  .market-info-right .market-contents {
    padding: 50px 20px 10px 20px;
  }
}
@media screen and (max-width: 1120px) {
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 16rem;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    left: 60px;
  }
  .sw-famous > .swiper-wrapper > .swiper-slide > .famous-content > .famous-tag-list > .famous-tag {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1080px) {
  .market-content-right .market-content-right-top p {
    font-size: 1.4rem;
  }
  .market-adr {
    font-size: 1.3rem;
    margin: 10px 0;
  }
  .market-content-info {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .market-info .market-info-left .map-bg {
    margin: 30px 0 0 10px;
  }
  .market-info-left {
    width: 45%;
  }
}
@media screen and (max-width: 1045px) {
  /* 시장 소개 왼쪽 변경 */
  .market-info-contents {
    display: none;
  }
  .market-info-1045 {
    display: block;
  }
  .market-contents2 .swiper-slide {
    padding: 20px 20px 40px 20px;
  }
  .market-info-right {
    width: 65%;
    background-color: #e0e7fb;
  }
  .market-info-left2 {
    width: 35%;
  }
  .market-contents2 .market-content-right-top {
    margin: 15px 0;
  }
  .market-contents2 .market-content-right .market-content-right-top p {
    font-size: 1.6rem;
  }
  .market-contents2 .market-adr {
    font-size: 1.5rem;
  }
  .market-contents2 .market-adr {
    margin: 20px 0;
  }
  .market-contents2 .market-content-info {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1000px) {
  .wrap {
    margin-top: 80px;
  }
  /* 헤더 */
  .header > .container > .inner {
    height: 80px;
  }
  .hd-logo {
    width: 180px;
    margin-top: 5px;
  }
  .nav > .menu-list > li a {
    font-size: 1.8rem;
  }
  /* 마이 페이지 */
  .hd-right {
    width: 200px;
  }
  .hd-right > .my-list > li > button > i {
    font-size: 1.8rem;
    position: absolute;
    left: -8px;
  }
  .hd-right > .my-list > li a {
    font-size: 1.8rem;
  }
  .hd-right > .my-list > li:nth-child(1)::after {
    height: 18px;
    position: absolute;
    top: 52%;
  }
  .header > .search > .container {
    top: -80px;
  }
  .hd-right > .my-list > li > a > i {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 920px) {
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 14rem;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    left: 50px;
  }
}
@media screen and (max-width: 880px) {
  /* 로고 */
  .hd-logo {
    width: 160px;
    margin-top: 10px;
  }
  .nav > .menu-list > li a {
    font-size: 1.6rem;
  }
  /* 마이 페이지 */
  .hd-right {
    width: 160px;
  }
  .hd-right > .my-list > li > button > i {
    font-size: 1.6rem;
    position: absolute;
    left: -12px;
  }
  .hd-right > .my-list > li a {
    font-size: 1.6rem;
  }
  .hd-right > .my-list > li a img {
    width: 23px;
    height: 23px;
  }
  .hd-right > .my-list > li:nth-child(1)::after {
    height: 16px;
    position: absolute;
    top: 52%;
    left: 38%;
  }
  .hd-right > .my-list > li > a > i {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 870px) {
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    top: 5%;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    left: 50px;
  }
}
@media screen and (max-width: 862px) {
  .sw-famous > .swiper-wrapper > .swiper-slide > .famous-content > .famous-tag-list > .famous-tag {
    font-size: 1.2rem;
  }
  .sw-famous .swiper-slide:nth-child(3) .famous-tag-list .famous-tag:last-child {
    display: none;
  }
  .sw-famous .swiper-slide:nth-child(4) .famous-tag-list .famous-tag:last-child {
    display: none;
  }
  /* 옛날 감성 시장 */
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name1 {
    font-size: 1.5rem;
  }
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name2 {
    font-size: 1.3rem;
  }
  /*  특색 시장 */
  .sw-unique > .swiper-wrapper > .swiper-slide > .unique-content > .unique-tag-list {
    display: flex;
    gap: 5px;
  }
  .sw-unique > .swiper-wrapper > .swiper-slide > .unique-content > .unique-tag-list > .unique-tag {
    width: 75px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 840px) {
  /* 검색 하단 */
  .header .search .search-content-bot .search-hot {
    gap: 25%;
  }
  .mb-header .search .search-content-bot .search-hot {
    gap: 25%;
  }
}
@media screen and (max-width: 830px) {
  .market-info-contents2 .market-contents2 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 790px) {
  .header {
    display: none;
  }
  .mb-header {
    display: block;
  }
  .mb-header .search .container .inner .search-contents {
    padding: 20px 0px 0 00px;
  }
  /* 시장 소개 왼쪽 변경 */
  .market-info-right {
    width: 70%;
    background-color: #e0e7fb;
  }
  .market-info-left2 {
    width: 30%;
  }
  .local-bt {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 30px 15px 30px 30px;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 16rem;
    top: 10%;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    left: 60px;
  }
  .sw-famous .swiper-slide:nth-child(3) .famous-tag-list .famous-tag:last-child {
    display: block;
  }
  .sw-famous .swiper-slide:nth-child(4) .famous-tag-list .famous-tag:last-child {
    display: block;
  }
  /* 옛날 감성 시장 */
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name1 {
    font-size: 1.6rem;
  }
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .bestresttopright {
    position: relative;
  }
  .sectionTopbt {
    padding-top: 0px;
    margin-bottom: 20px;
    width: 100%;
  }
  .sectionTopbt li {
    width: 50%;
  }
  .sectionTopbt li button {
    width: 100%;
  }
  .marketoldright {
    position: relative;
  }
  .market-old {
    margin-bottom: 50px;
  }
  /* 더보기 버튼 */
  .moreBts {
    display: block;
  }
  .moreBt {
    display: none;
  }
  .next-best {
    right: 50px;
  }
  .prev-best {
    right: 100px;
  }
  .scrollbar-best {
    right: 150px !important;
    width: auto !important;
  }
  .next-famous {
    right: 50px;
  }
  .prev-famous {
    right: 100px;
  }
  .scrollbar-famous {
    right: 150px !important;
    width: auto !important;
  }
  .next-old {
    right: 50px;
  }
  .prev-old {
    right: 100px;
  }
  .scrollbar-old {
    right: 150px !important;
    width: auto !important;
  }
  .next-unique {
    right: 50px;
  }
  .prev-unique {
    right: 100px;
  }
  .scrollbar-unique {
    right: 150px !important;
    width: auto !important;
  }
  .next-night {
    right: 50px;
  }
  .prev-night {
    right: 100px;
  }
  .scrollbar-night {
    right: 150px !important;
    width: auto !important;
  }
}
@media screen and (max-width: 700px) {
  .market-contents2 .swiper {
    width: 85%;
  }
}
@media screen and (max-width: 670px) {
  .sw-local-container {
    margin: 0 10px;
  }
  .prev-local-name {
    left: -10px;
  }
}
@media screen and (max-width: 640px) {
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 14rem;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    left: 50px;
  }
}
@media screen and (max-width: 600px) {
  .mb-header > .mb-menu-contents {
    width: 350px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3.6rem;
  }
  .market-contents2 .swiper {
    width: 90%;
  }
}
@media screen and (max-width: 590px) {
  /* 옛날 감성 시장 */
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name1 {
    font-size: 1.5rem;
  }
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 570px) {
  /* 헤더 검색 */
  .mb-header .search .container .inner .search-contents {
    padding: 30px 0px 0 0px;
  }
  .mb-header > .search > .container {
    height: 510px;
  }
  /* 검색 상단 */
  .mb-header .search .search-contents .search-content-top input {
    font-size: 1.6rem;
  }
  input::placeholder {
    font-size: 1.6rem;
  }
  .mb-header .search .search-contents .search-content-top i {
    font-size: 1.6rem;
  }
  /* 검색 중간 */
  .mb-header .search .search-content-mid p {
    font-size: 1.6rem;
  }
  .mb-header .search .search-content-mid .search-s {
    font-size: 1.2rem;
  }
  /* 검색 하단 */
  .mb-header .search .search-content-bot-top p {
    font-size: 1.6rem;
  }
  .mb-header .search .search-content-bot-top .search-s {
    font-size: 1.2rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-left {
    font-size: 1.4rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-right {
    font-size: 1.4rem;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    top: 5%;
  }
  .sw-famous .swiper-slide:nth-child(3) .famous-tag-list .famous-tag:last-child {
    display: none;
  }
  .sw-famous .swiper-slide:nth-child(4) .famous-tag-list .famous-tag:last-child {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 16rem;
    top: 10%;
  }
  .sw-best {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .sw-best {
    width: 100%;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 16rem;
    top: 10%;
    left: 5%;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    margin: 0 8%;
  }
  .sw-famous .swiper-slide:nth-child(3) .famous-tag-list .famous-tag:last-child {
    display: block;
  }
  .sw-famous .swiper-slide:nth-child(4) .famous-tag-list .famous-tag:last-child {
    display: block;
  }
  /* 옛날 감성 시장 */
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name1 {
    font-size: 1.6rem;
  }
  .sw-old > .swiper-wrapper > .swiper-slide > .old-content > .name2 {
    font-size: 1.5rem;
  }
  /* 특색 */
  .sw-unique .swiper-slide {
    width: 100%;
  }
  .unique-content {
    /* width: 80%; */
    margin: auto;
  }
  .sw-old {
    height: 500px;
  }
  .sw-unique {
    height: 500px;
  }
  .sw-night {
    height: 500px;
  }
  .famous-content {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 520px) {
  .mb-header > .mb-menu-contents {
    width: 300px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list img {
    width: 40px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a > span {
    margin: 0 5px 0 15px;
    font-size: 1.8rem;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a i {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .mb-header > .mb-menu-contents > .mb-menu-list > li > a {
    font-size: 1.8rem;
  }
  .go-join a span {
    left: 55px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 500px) {
  .sw-old {
    height: 480px;
  }
  .sw-unique {
    height: 480px;
  }
  .sw-night {
    height: 480px;
  }
  .market-contents2 .swiper {
    width: 95%;
  }
}
@media screen and (max-width: 460px) {
  .sw-old {
    height: 460px;
  }
  .sw-unique {
    height: 460px;
  }
  .sw-night {
    height: 460px;
  }
}
@media screen and (max-width: 450px) {
  .sw-famous {
    height: 400px;
  }
}
@media screen and (max-width: 440px) {
  .marketoldtopbt button {
    width: 90px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 430px) {
  .sw-old {
    height: 430px;
  }
  .sw-unique {
    height: 430px;
  }
  .sw-night {
    height: 430px;
  }
  .mb-header > .mb-menu-contents {
    width: 250px;
    padding-left: 30px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list img {
    width: 35px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a > span {
    margin: 0 5px 0 15px;
    font-size: 1.6rem;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a i {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .go-join a span {
    left: 50px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 400px) {
  .market-contents2 .swiper {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .market-content-right .market-content-right-top {
    gap: 5px;
  }
  .market-content-right .market-content-right-top span {
    font-size: 1rem;
    padding: 5px 7px 5px 7px;
  }
  .market-contents2 .market-content-right-top {
    margin: 10px 0;
  }
  .market-contents2 .market-content-right .market-content-right-top p {
    font-size: 1.5rem;
  }
  .market-contents2 .market-adr {
    font-size: 1.3rem;
  }
  .market-contents2 .market-adr {
    margin: 10px 0;
  }
  .market-contents2 .market-content-info {
    font-size: 1rem;
  }
}
@media screen and (max-width: 380px) {
  .mb-header .search .search-content-bot .search-hot {
    padding: 15px 18px;
  }
  .mb-header > .search > .container {
    height: 495px;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > span {
    font-size: 14rem;
    top: 10%;
    left: 0%;
  }
  .sw-best > .swiper-wrapper > .swiper-slide > .best-content {
    margin: 0;
  }
  /* 검색 상단 */
  .mb-header .search .search-contents .search-content-top input {
    font-size: 1.5rem;
  }
  input::placeholder {
    font-size: 1.5rem;
  }
  .mb-header .search .search-contents .search-content-top i {
    font-size: 1.5rem;
  }
  /* 검색 중간 */
  .mb-header .search .search-content-mid p {
    font-size: 1.5rem;
  }
  /* 검색 하단 */
  .mb-header .search .search-content-bot-top p {
    font-size: 1.5rem;
  }
  .mb-header .search .search-content-bot-top .search-s {
    font-size: 1rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-left {
    font-size: 1.3rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-right {
    font-size: 1.3rem;
  }
  /* 검색 하단 */
  .mb-header .search .search-content-bot .search-hot {
    gap: 20%;
  }
  .sw-old {
    height: 400px;
  }
  .sw-old {
    height: 410px;
  }
  .sw-unique {
    height: 410px;
  }
  .sw-night {
    height: 410px;
  }
}
@media screen and (max-width: 370px) {
  .bestrestTop .title {
    font-size: 2.6rem;
  }
  .marketOldTop .title {
    font-size: 2.6rem;
  }
  .sectionTopbt {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .sectionTopbt button {
    width: 100px;
    font-size: 1.4rem;
  }
  .marketoldtopbt {
    gap: 10px;
  }
  .marketoldtopbt button {
    width: 80px;
    font-size: 1.3rem;
  }
  .sw-famous .swiper-slide:nth-child(3) .famous-tag-list .famous-tag:last-child {
    display: none;
  }
  .sw-famous .swiper-slide:nth-child(4) .famous-tag-list .famous-tag:last-child {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .mb-header > .mb-menu-contents {
    width: 220px;
    padding-left: 30px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list img {
    width: 35px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a > span {
    margin: 0 5px 0 15px;
    font-size: 1.6rem;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a i {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .go-join a span {
    left: 50px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .sw-best {
    height: 400px;
  }
  .sw-famous {
    height: 360px;
  }
  .sw-old {
    height: 380px;
  }
  .sw-unique {
    height: 380px;
  }
  .sw-night {
    height: 380px;
  }
  .unique-tag-list .unique-tag:nth-child(3) {
    display: none;
  }
}
